# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env*.local

# build artefacts
*.tsbuildinfo

# misc
.DS_Store
*.pem
.vercel
npm-debug.log*

# prisma
/prisma/*.db
